In [14]:
!pip install nasdaq-data-link
import nasdaqdatalink
nasdaqdatalink.ApiConfig.api_key = '5BwoEH6x8VTcx9HS8hca'
nasdaqdatalink.get_table('QUOTEMEDIA/PRICES',date='2017-10-31,2017-10-30,2017-10-27', ticker='XOM,WMT,VZ')
data = nasdaqdatalink.get("FRED/GDP", start_date="2001-12-31", end_date="2005-12-31")
print(data)

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nasdaq-data-link in c:\users\jedwa\appdata\roaming\python\python39\site-packages (1.0.4)
Requirement already satisfied: pandas>=0.14 in c:\users\jedwa\appdata\roaming\python\python39\site-packages (from nasdaq-data-link) (2.2.0)
Requirement already satisfied: numpy>=1.8 in c:\users\jedwa\appdata\roaming\python\python39\site-packages (from nasdaq-data-link) (1.26.3)
Requirement already satisfied: requests>=2.7.0 in c:\users\jedwa\appdata\roaming\python\python39\site-packages (from nasdaq-data-link) (2.31.0)
Requirement already satisfied: inflection>=0.3.1 in c:\users\jedwa\appdata\roaming\python\python39\site-packages (from nasdaq-data-link) (0.5.1)
Requirement already satisfied: python-dateutil in c:\users\jedwa\appdata\roaming\python\python39\site-packages (from nasdaq-data-link) (2.8.2)
Requirement already satisfied: six in c:\users\jedwa\appdata\roaming\python\python39\site-packages (from nasdaq-data-link) (1.16.0)
Requirement already satisfied: more-itertools in c:\users\jedwa\appdata\roaming\python\python39\site-packages (from nasdaq-data-link) (10.2.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jedwa\appdata\roaming\python\python39\site-packages (from pandas>=0.14->nasdaq-data-link) (2023.4)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jedwa\appdata\roaming\python\python39\site-packages (from pandas>=0.14->nasdaq-data-link) (2023.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\jedwa\appdata\roaming\python\python39\site-packages (from requests>=2.7.0->nasdaq-data-link) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jedwa\appdata\roaming\python\python39\site-packages (from requests>=2.7.0->nasdaq-data-link) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\jedwa\appdata\roaming\python\python39\site-packages (from requests>=2.7.0->nasdaq-data-link) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jedwa\appdata\roaming\python\python39\site-packages (from requests>=2.7.0->nasdaq-data-link) (2023.11.17)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

SyntaxError: Invalid format used for Nasdaq Data Link database code.         The correct format is: `DATABASE_CODE/DATASET_CODE` (<string>)

In [17]:
nasdaqdatalink.get_table('SHARADAR/SFP', ticker=['AADR','BAB'])

,ticker,date,open,high,low,close,volume,closeadj,closeunadj,lastupdated
None,,,,,,,,,,
0,BAB,2018-12-31,29.56,29.69,29.560,29.690,146858.0,24.951,29.690,2024-03-19
1,BAB,2018-12-28,29.45,29.59,29.430,29.530,184412.0,24.817,29.530,2024-03-19
2,BAB,2018-12-27,29.59,29.60,29.459,29.460,114475.0,24.758,29.460,2024-03-19
3,BAB,2018-12-26,29.57,29.63,29.460,29.480,267053.0,24.775,29.480,2024-03-19
4,BAB,2018-12-24,29.61,29.64,29.550,29.625,100011.0,24.896,29.625,2024-03-19
...,...,...,...,...,...,...,...,...,...,...
159,AADR,2018-09-10,50.16,50.16,49.660,49.720,27576.0,46.744,49.720,2024-03-22
160,AADR,2018-09-07,49.63,50.37,49.630,50.130,23959.0,47.129,50.130,2024-03-22
161,AADR,2018-09-06,50.25,50.46,49.730,50.010,56391.0,47.017,50.010,2024-03-22
162,AADR,2018-09-05,51.41,51.41,50.250,50.350,76289.0,47.336,50.350,2024-03-22
163,AADR,2018-09-04,51.85,51.85,51.329,51.590,72602.0,48.502,51.590,2024-03-22

SyntaxError: invalid syntax (2007718306.py, line 1)